{% extends 'layouts/base.html' %}
{#{% extends 'layouts/base2.html' %}#}

{% block content %}

<h1>Task</h1>
{% for task in tasks %}

<div class="card">
    <!-- Comentario que si se va a ver en HTML -->
    {# nota: esta es una tarea #}
    <h1>{% if task.done == False %}⌛{% else %}✅{% endif %} {{task.title}}</h1>

    <p>{{task.description}}</p>
    <p>Project: {{task.project.name}}</p>

    <form method="POST" action="{% url 'delete_task' task.id %}">
        {% csrf_token %}
        <button>
            Delete
        </button>
    </form>
    <form method="POST" action="{% url 'task_done_status' task.id %}">
        {% csrf_token %}
        {% if task.done == True %}
        <button>
            Undo ✖️
        </button>
        {% else %}
        <button>
            Done ✅
        </button>
        {% endif %}
    </form>
</div>

{% endfor %}

{% endblock %}